<h1>List of products</h1>
@if (loading) {
<p>Loading...</p>
} @else {
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (product of products; track $index) {
    <tr>
      <th scope="row"> {{product.id}} </th>
      <td>{{product.title}}</td>
      <td [ngClass]="{'red-color': product.price > 100}">{{product.price | currency}}</td>
      <td>{{product.description}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-dark" (click)="navegate(product.id)">detail</button>
      </td>
    </tr>
    } @empty {
    <tr>No products</tr>
    }
  </tbody>
</table>
}